<div class="layout-show-user">
	<div class="form-show-user">
		<div class="image-user">
	    <%= image_tag(@user.image) %>
		</div>
		<div class="name-user">
		<p>Mai Hoàng Vũ</p>
	    <p><%= @user.name %></p>
	    <p><%= @user.email %></p>
		</div>
	</div>
</div>