<% provide(:title, "Thông tin cá nhân") %>
<ul class="users">
  <h1> 
    <span><%= t("show.name") %></span>
    <span><%=@user.name%></span>
    <p> Email: <%= @user.email %> </p>
    <%= link_to t("show.back"), :back ,class: "btn btn-primary" %>
  </h1>
  