<% provide(:title, "Thông tin cá nhân") %>
<ul class="users">
  <h1> 
    <p> Tên: <%= @user.name %> </p>
    <p> Email: <%= @user.email %> </p>
    <%= link_to "Back", :back ,class: "btn btn-primary" %>
  </h1>
  