<div class="row">
  <div class="col-md-6 col-md-offset-3-edit-user">
    <%= form_for :awayteam, url: {action: :create, controller: :awayteams}, method: :post do |f| %>
      <div class="form-group">
        <%= f.label :team_id %>
        <%= f.select :team_id, options_for_select(@teams.map{|key, value|
          [key, value]}), {include_blank: true}, {class: "chosen-select"} %>
      </div>
      <%= f.submit "Create Player", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
