<nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom" id="header_adminlte">
  <ul class="navbar-nav">
    <li class="nav-item header-icon">
      <i class="fa fa-home" aria-hidden="true"></i>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to "Home", admin_path , class: "nav-link" %>
    </li>
  </ul>
  <form class="form-inline ml-3">
  </form>
  <div class="logout-admin">
    <%= link_to "Logout", admin_logout_path, class: "btn btn-info" %>
  </div>
</nav>
