@import 'bootstrap-sprockets';
@import 'bootstrap';
body { padding-top: 60px; }
section { overflow: auto; }
textarea { resize: vertical; }
.center { text-align: center; }
.center h1 { margin-bottom: 10px; }
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #00FFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #333;
  text-decoration: none;
}
.navbar {
  background-color: #FFFFCC;
}
#menu {
  background-color: #666;
  height: 40px;
}
#menu ul {
  list-style-type: none;
}
#menu ul li {
  display: inline-table;
  width: 120px;
  line-height: 38px;
  position: relative;
}
#menu ul li a {
  display: block;
  color: #f1f1f1;
}
#menu ul li a:hover {
  background: #f1f1f1;
  color: #333;
}
#menu ul li > .sub-menu {
  display: none;
  position: absolute;
  margin-left: -1px;
}
#menu ul li:hover .sub-menu {
  display: block;
}
.sub-menu {
  background-color: #666;
}
.sub-menu li {
  margin-left: -25px;
}

input {
  height: auto !important;
}

.field {
  width:30%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.signup {
  margin-left: 35px;
}

.edit{
  margin-left: 35px;
}
.container {
  min-height:100%;
  position:relative;
}
#footer {
  position:absolute;
}
.container-showbook {
  margin-top: 30px;
  width: 65%;
  height: 100%;
  border: 1px solid red;
}
#title {
  text-align: center;
}
#image {
  margin-top: 30px;
  margin-left: 60px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid black;
  background-color: #f1f1f1;
}
.books-container li {
  display: inline-table;
}
.books li {
  display: block;
}

.books-container {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}
.navbar-inverse .navbar-nav2 > li > a {
  color: red;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.navbar-inverse .navbar-nav1 > li > a {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.edit-book li {
  margin-left: 35px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid black;
  width: 22%;
  margin-bottom: 28px;
}
.users {
 list-style: none;
 margin: 0;
 li {
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid $gray-lighter;
 }
}
.show {
 list-style: none;
 margin: 0;
 li {
   overflow: auto;

   border-bottom: 1px solid $gray-lighter;
 }
}

.search-book-name{
  width: 150px;
}

input, textarea, select, .uneditable-input {
  width: 100px;
}

#text-show-1 {
  color: blue;
  float: left;
  list-style: none;
  margin-left: 3%;
}
#text-show-2 {
  float: left;
  margin-top: -5px;
}
#text-index-3 {
  margin-left: 3%;
}
.table-author {
  border: 2px solid #bbbbbb;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}
#th-table {
  background: #2E3D4A;
  color: #fff;
  font-weight: bold;
  height: 35px;
}
#th-table th {
  padding-left: 12px;
}
#th-table-1 {
  height: 90px;
  width: 800px;
}
#th-table-2 {
  height: 90px;
}
#th-table-1 a {
  margin-left: 10px;
}
#th-table-2 p {
  margin-left: 10px;
}
