@import 'bootstrap-sprockets';
@import 'bootstrap';
body { padding-top: 60px; }
section { overflow: auto; }
textarea { resize: vertical; }
.center { text-align: center; }
.center h1 { margin-bottom: 10px; }
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #00FFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #333;
  text-decoration: none;
}
.navbar {
  background-color: #FFFFCC;
}
#menu {
  background-color: #666;
  height: 40px;
}
#menu ul {
  list-style-type: none;
}
#menu ul li {
  display: inline-table;
  width: 120px;
  line-height: 38px;
  position: relative;
}
#menu ul li a {
  display: block;
  color: #f1f1f1;
}
#menu ul li a:hover {
  background: #f1f1f1;
  color: #333;
}
#menu ul li > .sub-menu {
  display: none;
  position: absolute;
  margin-left: -1px;
}
#menu ul li:hover .sub-menu {
  display: block;
}
.sub-menu {
  background-color: #666;
}
.sub-menu li {
  margin-left: -25px;
}

input, textarea, select, .uneditable-input {
  border: 10px solid #bbb;
  width: 30%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.field {
  width:30%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.signup {
  margin-left: 35px;
}

.users {
 list-style: none;
 margin: 0;
 li {
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid $gray-lighter;
 }
}

.edit{
  margin-left: 35px;
}
