.tab-1{
  background-color: #004c8f;
}
.tab-4{
  background-color: #004c8f;
}
#text-5 {
  color: #fff;
}
#td-1 {
  width: 255px;
}
td {
  padding: 6px;
}
#hr-2 {
  margin-top: 35px;
}
.home-page {
  height: 500px;
  background-color: #DBD7D7;
}
