@import "bootstrap-sprockets";
@import "bootstrap";
section { overflow: auto; }
textarea { resize: vertical; }
.center { text-align: center; }
.center h1 { margin-bottom: 10px; }

#logo {
 margin-right: 10px;
 font-size: 1.7em;
 color: #fff;
 letter-spacing: -1px;
 padding-top: 9px;
 font-weight: bold;
 line-height: 56px;
 margin-left: -3px;
}

#logo:hover {
 color: #fff;
 text-decoration: none;
}
.container {
  height: 56px;
}
#menu {
  background-color: #004c8f;
  height: 56px;
  width: 1300px;
}
#menu ul {
  list-style-type: none;

}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 180px;
  height: 56px;
  line-height: 56px;
  background-color: #dce0e4;
  border-radius: 50px 50% 50px 50%;
}
#menu a {
  text-decoration: none;
  color: #004c8f;
  display: block;
  text-align: center;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
#menu-small {
  margin-left: 46px;
}
.navbar-inverse .navbar-nav >li > 0a {
  color: #fff;
}
.glyphicon {
  margin-left: 235px;
  color: #fff;
}
#tool {
  color: #fff;
  line-height: 56px;
  font-size: 1.1em;
  font-weight: bold;
}
#tool-1 {
  line-height: 56px;
  color: #C9C6C6;
  font-weight: bold;
  padding-left: 20px;
}
#tool-2 {
  line-height: 56px;
  color: #C9C6C6;
  font-weight: bold;
  padding-left: 17px;
}
#tool-3 {
  line-height: 56px;
  color: #C9C6C6;
  font-weight: bold;
  padding-left: 3px;
}
#tool-4 {
  line-height: 56px;
  color: #C9C6C6;
  font-weight: bold;
  padding-left: 15px;
}
#tool-5 {
  line-height: 56px;
  color: #C9C6C6;
  font-weight: bold;
  padding-left: 15px;
}
#tool-6 {
  line-height: 56px;
  color: #C9C6C6;
  font-weight: bold;
  padding-left: 15px;
}
#tool-7 {
  line-height: 56px;
  color: #C9C6C6;
  font-weight: bold;
  padding-left: 15px;
}
#tool-8 {
  line-height: 56px;
  color: #C9C6C6;
  font-weight: bold;
  padding-left: 9px;
}
.NHA {
  background-color:#004c8f;
  height: 56px;
}
.NHA a:hover {
  color: #fff;
  text-decoration: none;
}
.none {
  background-color:#004c8f;
  height: 56px;
}
.iconlogo {
  margin-bottom: 10px;
  width: 2.5em;
  height: 2.5em;
  color: red;
}
.iconlogo-2 {
  width: 1.1em;
  height: 1.1em;
  color: #fff;
}
.iconlogo-3 {
  width: 1.5em;
  height: 1.5em;
  color: #fff;
  margin-bottom: 4px;
}
.iconlogo-4 {
  width: 1.5em;
  height: 1.5em;
  color: #fff;
  margin-bottom: 4px;
  margin-right: 3px;
}
.tab-1 {
  height: 500px;
}
#text-1 {
  margin-top: 30px;
  color: #fff;
  font-size: 15px;
  font-family: 'Roboto',Tahoma,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-weight: bold;
}
.tab-2 {
  background-color: #0057a3;
}
.tab-3 {
  background-color: #0057a3;
}
#text-2 {
  color: #fff;
  font-size: 13.4px;
  font-family: 'Roboto',Tahoma,Helvetica,Arial,sans-serif;
  font-weight: 500;
}
a:hover{
  text-decoration: none;
}
