.image-user img{
    height: 120px;
    min-width: 120px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 350px;
}
.layout-show-user{
	box-shadow: 0 16px 50px 0 rgba(42, 35, 35, 0.2);
  background: #f5f5f5;
  min-height: 240px;
  padding-top: 20px;
  margin-top: 20px;
}
.form-show-user {
	width: 1000px;
    height: 330px;
    margin-left: 121px;
    background-color: #FFF;
}
.name-user{
    margin-left: 200px;
}