<hr>
<div>
  Giới thiệu & Điều khoản dịch vụ
  <li><%= link_to "Hướng dẫn đăng truyện", '#' %></li>
  <li><%= link_to "Chuẩn chính tả khi viết văn", '#' %></li>
  <li><%= link_to "Hướng dẫn trả phí", '#' %></li>
  <li><%= link_to "Liên hệ", '#' %></li>
  <a href="https://www.facebook.com/nghia.chelsea.1" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSEWqdB79RiGoEnOufrKi-kTs3PpnVlL-lC0xRTf1oAssJOR8B5&usqp=CAU" width="50" height="30" /></a>
</div>
